#shadowBox {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
    border: 10px solid;
}

.rainbow {
    text-decoration: underline;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #ff0000, #ff00a2 , #2b00ff, #339cff, #00ff40);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 2s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
.card {


  animation: gradient-animation 5s infinite linear;
}

@keyframes gradient-animation {
  0% {
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #1000ff;
  }
  25% {
    box-shadow: 20px 20px 60px #ff0000, -20px -20px 60px #00ff00;
  }
  50% {
    box-shadow: 20px 20px 60px #ffff00, -20px -20px 60px #ff00ff;
  }
  75% {
    box-shadow: 20px 20px 60px #00ffff, -20px -20px 60px #0000ff;
  }
  100% {
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #1000ff;
  }
}
